* {
    margin: 0;
    padding: 0;
}

.homepage {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.class1 {
    background: yellow;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* padding: 10px; */
}

.class2 {
    background: orange;
    display: flex;
    /* justify-content: center; */
    /* justify-content: left; */
    align-items: center;
    width: 100%;
    /* padding: 10px; */
}

img {
    /* height: 25%; */
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: fit-content(25%) fit-content(25%) fit-content(25%) fit-content(25%);
    grid-auto-rows: min-content;
    /* grid-template-columns: repeat(4, 1fr); */
    /* background: blue; */
    width: 100vw;
    overflow-x: hidden;
}